@import url('https://fonts.cdnfonts.com/css/berlin-sans-fb-demi');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    /*reset css*/
    font-family: Poppins, sans-serif;

}
/***************************************** VARIABLES *****************************/

:root {
    --titleGreen: #618064;
    --titleGrey: #666666;
    --sectionGrey: #E9E3E3;
    --sectionGreen: #B8CCB9;
}

/************************************************ HERO **************************/

.heroContainer {
    width: 100%;
    height: 100vh;
    /* 100% del tamaño del viewport */
    margin: 0;
    background-image: url(Fotos/heroConservacion.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.heroContainer .ctaTitle {
    width: 30%;
    min-width: 180px;
    height: 380px;
    margin: 100px 0 0 12%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Berlin Sans FB Demi', sans-serif;
}

.heroContainer .name {
    color: white;
    font-size: 4.7vw;
    text-align: center;
}

/******************************* SECTIONS **********************/

.imgSection {
    width: 45%;
    height: 40vw;
    min-width: 300px;
    min-height: 300px;
}

.titleSection {
    margin-bottom: 20px;
}

/******************************* SECTION 1 **********************/

#section1 {
    background-color: var(--sectionGrey);
}

#section1 .titleSection {
    color: var(--titleGreen);
}

/******************************* SECTION 2 **********************/

#section2 {
    background-color: var(--sectionGreen);

}

#section2 .textSection {
    flex: 3;
    margin-right: 30px;
    min-width: 300px;
}

#section2 .imgSection {
    background-image: url(Fotos/Section2-Conservacion.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    flex: 2;
    min-width: 300px;
    height: 25vw;
    min-height: 200px;
}

#section2 .titleSection {
    color: var(--titleGrey);
}

#section2 .infoSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

/******************************* SECTION 3 **********************/

#section3 {
    background-color: var(--sectionGrey);
}

#section3 .titleSection {
    color: var(--titleGreen);
}

#section3 .textSection {
    margin-bottom: 20px;
    min-width: 300px;
}

#section3 .imgSection {
    background-image: url(Fotos/Section3-Conservacion.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 40px;
    margin-bottom: 20px;
    float: left;
    width: 45%;
}

#section3 .infoSection {
    overflow: hidden;
}

/******************************* SECTION 4 **********************/

#section4 {
    background-color: var(--sectionGreen);
}

#section4 .textSection {
    margin-bottom: 20px;
    min-width: 300px;
}

#section4 .imgSection {
    background-image: url(Fotos/Section4-Conservation.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 40px;
    margin-bottom: 20px;
    float: right;
    width: 45%;
}

#section4 .titleSection {
    color: var(--titleGrey);
}

#section4 .infoSection {
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .heroContainer .name {
        font-size: 1.75em;
    }

    #section4 .imgSection {
        width: 100%;
    }
}