@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600;700&display=swap');


html,
body {
    height: 100%;
    margin: 0;
    /*reset css*/
    font-family: 'League-Spartan', sans-serif;
    font-size: 1em;
    /*obligamos a que se hagan los scrolls suaves*/
    scroll-behavior: smooth;
    background-color: var(--background);
}

* {
    box-sizing: border-box;
}

/***************************************** VARIABLES *****************************/

:root {
    --bandaFuxia: #d62161;
    --background: #ECECEC;
    --blueTitle: #005280;
}

/***************************************** GENERAL *****************************/

.sections .textSection {
    font-size: clamp(0.6875rem, 0.3958rem + 0.9722vw, 1.5625rem);
    /*25 y 11*/
}

.sections .titleSection {
    font-weight: 100;
    font-size: clamp(1.875rem, 0.625rem + 4.1667vw, 5.625rem);
    /*30 y 90*/
    color: var(--blueTitle);
    margin-bottom: 70px;
}
.sections {
overflow: hidden;
}

/************************************************ HERO **************************/
.hero {
    width: 50%;
}


.navbar {
    padding: 10px;
    flex: 10 0 40px;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    padding-right: 100px;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}


.nav-list li a {
    text-decoration: none;    
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 30px;
    padding: 5px 20px;
}

.nav-list li a:hover {
    text-shadow: 1px 1px 1px black;
}

.menu-toggle {
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.bar {
    background-color: white;
    height: 3px;
    width: 100%;
    transition: 0.3s;
}

.bar.rotate-45 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.bar.hide {
    opacity: 0;
}

.bar.rotate45 {
    transform: rotate(45deg) translate(-5px, -6px);
}


@media (max-width: 1268px) {

    .hero {
        width: 100px;
    }

    .nav-bar {
        flex: 1;
    }

    .main-logo {
        flex: 22;
    }

    .menu-toggle {
        display: flex;
        margin-right: 20px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, .6);
        text-align: center;
        top: 110px;
        /* top a partir del cual saldrÃ¡ el menÃº desplegable */
        right: 0;
    }

    .nav-list li a {
        width: 100% !important;
    }


    .nav-list.show {
        display: flex;
        z-index: 99999;
        padding-right: 0;
    }

    .nav-list li {
        margin: 10px 0;
        text-align: center;
        width: 100%;
    }

    header {
        padding-top: 10px;
        max-height: 110px;
    }
}

header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    z-index: 20;
    transition: top 0.4s ease-out;
    height: 130px;
}

.progreso {
    width: 100%;
    height: 2px;
    background-color: transparent;
}

.barra{
    height: 2px;
    background-color: black;
    width: 0%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav .logo {
    margin-left: 4vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

nav .imgLogo {
    background-image: url(../img/logoWhite.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 90px;
    aspect-ratio: 6/7;
}

nav .textLogo {
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-weight: 600;
    font-size: clamp(1.25rem, 1.0417rem + 0.6944vw, 1.875rem);
    /*20 y 30*/
    max-width: 2vw;
    margin-left: 20px;
}

nav .links {
    width: 10%;
    margin-left: auto;
    padding-right: 100px;
    height: 70px;
    display: flex;
    align-items: center;
}


nav .links ul {
    list-style-type: none;
    margin: 0;
    /*reset css*/
    padding: 0;
    /*reset css*/

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
}

nav .links a {
    text-decoration: none;
    /* quitamos el subrayado al ancla*/
    text-transform: uppercase;
    /* ponemos el texto en mayuscula*/
    color: white;
    font-size: 30px;
}

nav .links a:hover {
    border-bottom: 1px solid white;
}

/******************************* FOOTER **********************/

footer {
    background-image: url(../img/footer.jpg);
    width: 100%;
    background-size: cover;
    padding: 100px;
}

footer .content {
    background-color: white;
}

footer ul {
    list-style-type: none;
    margin: 0;
    /*reset css*/
    padding: 0;
    /*reset css*/
}

footer a {
    text-decoration: none;
    /* quitamos el subrayado al ancla*/
    color: black;
}

/**************** AWARDS **************/

.headFooter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    padding-top: 50px;
}

.imgLogo {
    height: 90px;
    aspect-ratio: 6/7;
    background-image: url(../img/logoBlack.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 40px;
}

.formFooter {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    margin-right: 40px;
}

.formTitle {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 79%;
}
.form__field {
    font-family: 'League-Spartan', sans-serif;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #212121;
}
.form__field:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    font-weight: 700;
}

.formButton {
    width: 15%;
    min-width: 100px;
    border: 1px solid black;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**************** COLUMS **************/

footer .colums {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-size: clamp(0.9375rem, 0.7292rem + 0.6944vw, 1.5625rem);/*15 y 25*/
    min-height: min-content;
    padding: 100px;
    font-weight: 300;
}

.colum {
    min-width: 250px;
    max-width: 350px;
    width: 30%;
    color: #474747;
}


.colum p {
    margin: 0;
    padding: 0;
}

.colums .titleFooter {
    text-transform: uppercase;
    font-weight: 300;
    height: min-content;
    margin-bottom: 7px;
    margin-top: 0;
    font-size: clamp(1.125rem, 0.875rem + 0.8333vw, 1.875rem);
    color: white;
    background-color: #474747;
    padding: 20px 20px 20px 20px;
}

.columnText {
    display: flex;
    align-items: center;
    text-align: justify;
}

.colums {
    padding-top: 10px;
}

.captWord{
    font-size: clamp(1.25rem, 1.0417rem + 0.6944vw, 1.875rem);/*20 y 30*/
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

.colums .contact li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 2vw;
    cursor: pointer;
}

.colums .contact li:first-child {
    margin-top: 0;
}

.projects li {
    margin-top: 2vw;
}

.projects li a{
    color: #474747;
}

.socialNetwork {
    padding-top: 2vw;
    display: flex;
    flex-flow: row nowrap;
}

.socialNetwork .icon {
    width: 25px;
    height: 25px;
    margin-right: 50px;
}

.contact p{
    margin-left: 20px;
}

.icon {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#mail {
    background-image: url(../img/mail.png);
}

#phone {
    background-image: url(../img/telephone.png);
}

#youtube {
    background-image: url(../img/youtube.png);
}

#instagram {
    background-image: url(../img/instagram.png);
}

#facebook {
    background-image: url(../img/facebook.png);
}

#twitter {
    background-image: url(../img/twitter.png);
}

@media (max-width: 1450px) {
    .colums .footerText {
        margin-left: 0;

    }

    .colum {
        width: 100%;
        padding: 0 0;
    }

    footer .colums {
        padding: 100px 0;
    }
}

@media (max-width: 1250px) {
    .colum:last-child {
        margin-top: 100px;
    }
}


@media (max-width: 900px) {
    .colum:nth-child(2), .colum:last-child {
        margin-top: 50px;
    }

    .colums {
        margin-top: -50px;
    }
}

@media (max-width: 800px) {

    footer .imgLogo {
        margin: 0 20px;
    }

    footer .formFooter {
        margin-right: 20px;
    }

    .form__group {
        width: 70%;
    }

    .colums {
        padding-bottom: 50px!important;
    }

    nav .imgLogo {
        height: 75px;
    }
}

@media (max-width: 600px) {

    footer {
        padding: 50px;
    }

    header {
        height: 90px;
    }

    .nav-list {
        top: 90px;
    }

}

@media (max-width: 455px) {

    .form__group {
        width: 100%;
    }

    .formFooter:last-child {
        align-items: flex-end;
    }

    .formButton {
        margin-left: 100%;
        transform: translate(-100%, 0);
        margin-top: 10px;
    }

    nav .imgLogo {
        margin: 0;
        height: 55px;
    }

    header {
        height: 80px;
    }

    .nav-list {
        top: 80px;
    }

    .colum{
        padding: 0 10px;
    }
}

@media (max-width: 400px) {

    footer {
        padding: 20px;
    }

    .headFooter {
        flex-flow: row wrap;
    }

    footer .formFooter {
        margin: 0 20px;
    }

    .form__group {
        margin-top: 0;
    }

}